@using Simple_TodoList.Factories.RepositoryResolvers
@using Simple_TodoList.ViewModels
@model IndexViewModel

@{
    ViewData["Title"] = "Todo";
}

<div class="container mt-5">
    <div class="d-flex flex-wrap align-items-start">
        <form asp-action="AddTask" class="row g-3">
            <div class="col-auto">

                <label asp-for="Task.Name"
                       class="visually-hidden">
                    Task name
                </label>
                <input asp-for="Task.Name"
                       name="Name"
                       class="form-control"
                       placeholder="Enter task name...">
            </div>

            <div class="col-auto">
                <select asp-for="Task.CategoryId" name="CategoryId" class="form-select" >
                    <option selected>
                        Select Category
                    </option>
                    @foreach(var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>

            <div class="col-auto">
                <input asp-for="Task.Deadline" name="Deadline" class="form-control"/>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Add task</button>
            </div>
        </form> 
        <form asp-action="ChangeStorageType" class="mx-3">
                <select asp-for="StorageType" class="form-select col-auto" asp-items="Html.GetEnumSelectList<StorageType>()" onchange="this.form.submit()">
                </select>
        </form>
    </div>


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Deadline</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @for(var i = 0; i < Model.Tasks.Count; i++)
            {
                var task = Model.Tasks[i];
                <tr>
                    <td>
                        <form asp-action="UpdateTaskComplition" method="post" class="d-flex align-items-center">
                            <input asp-for="@Model.Tasks[i].IsCompleted"
                                    name="isCompleted"
                                    onchange="this.form.submit()"
                                    class="mx-2"/>
                                    
                            <label asp-for="@Model.Tasks[i].IsCompleted">
                                @if (Model.Tasks[i].IsCompleted)
                                {
                                    <s>@Model.Tasks[i].Name</s>
                                }
                                else
                                {
                                    @Model.Tasks[i].Name
                                }
                            </label>
                                    
                            <input name="id" value="@task.Id" hidden />
                        </form>
                    </td>
                    <td>
                        @if (task.CategoryId != null)
                        {
                            var category = @Model.Categories.FirstOrDefault(category => category.Id == task.CategoryId, null);

                            if(category != null)
                            {
                                <div class="badge mx-2 bg-primary">
                                    @category.Name
                                </div>
                            }
                        }
                    </td>

                    <td>
                        @if (task.Deadline != null)
                        {
                            <div class="badge bg-secondary">
                                @task.Deadline
                            </div>
                        }
                    </td>

                    <td>
                        <form asp-action="RemoveTask" method="post">
                            <button class="btn btn-danger">
                                X
                            </button>
                            <input name="id" value="@task.Id" hidden />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>